<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <div class="details content">
      <h2><%= blog.title %></h2>
      <div class="content">
        <p><%= blog.body %></p>
      </div>
      <a class="delete" data-doc="<%= blog._id %>">
        <!-- <i
          class="fas fa-trashcan"
          style="background-color: blue; color: blue"
        ></i> -->
        <img src="/trash.svg" alt="delete-icon" />
      </a>
    </div>

    <%- include('../partials/footer.ejs') %>

    <!-- Using vanilla java Script.. -->
    <script>
      const trashCan = document.querySelector("a.delete");

      //adding evebt listener..
      trashCan.addEventListener("click", (e) => {
        const endpoint = `/blogs/${trashCan.dataset.doc}`;

        //using fetch Api
        fetch(endpoint, {
          method: "DELETE",
        })
          .then((response) => response.json())
          .then(
            (data) =>
              //ridirect the delete link
              (window.location.href = data.redirect)
          )
          .catch((err) => console.log(err));
      });
    </script>
  </body>
</html>
