<!DOCTYPE html>

<html lang="en">
  <%- include('../partials/header.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>

    <div class="blogs content">
      <h2>All Blogs</h2>
      <!-- Blog write ups -->
      <% if(blogs.length > 0) { %> <% blogs.forEach(blog => { %>
      <a class="single" href="/blogs/<%= blog._id  %>">
        <h2 class="title"><%=blog.title %></h2>
        <p class="snippet"><%= blog.snippet %></p>
      </a>
      <% }) %> <% } else { %>
      <p>There exist no content</p>
    </div>

    <% } %> <%-include('../partials/footer.ejs') %>
  </body>
</html>
